<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>

<!-- value="{{user.NombreEmpresa}}"" -->
<ion-content padding>
  <div>
    <div>
      <h1>Perfil de Usuario</h1>
      <img class="avatar" src="assets/icon/perfil.png" alt="">
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="presentConfirm(Data)">
      <fieldset>
        <div class="form-group1 required">
          <div class="col-sm-10">
            <label class="col-sm-2 control-label" for="input-name">Nombre Empresa:</label>
            <input type="text" class="form-control" [(ngModel)]="Data.username" name="username" formControlName="username" (keypress)="onKeyUp($event)" value="{{user.NombreEmpresa}}"
              (keyup)="onKeyUp($event)" min="2" max="32" required> 
          </div>
          <div class="alert alert-danger alert-dismissible col-sm-10" *ngIf="this.profileForm.touched && this.profileForm.get('username').invalid && this.profileForm.get('username').touched  && this.hasenter">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong>  Nombre Invalido.
          </div>
        </div>
        <div class="form-group1 required">
          <div class="col-sm-10">
            <label class="col-sm-2 control-label" for="input-lastname">Nombre Representante:</label>
            <input type="text" class="form-control" [(ngModel)]="Data.userlastname" name="userlastname" formControlName="userlastname" (keypress)="onKeyUp($event)" value="{{user.NombreRepresentante}}"
              (keyup)="onKeyUp($event)" min="3" max="32" required>
          </div>
          <div class="alert alert-danger alert-dismissible col-sm-10" *ngIf="this.profileForm.touched && this.profileForm.get('userlastname').invalid && this.profileForm.get('userlastname').touched  && this.hasenter">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong>  Representante Invalido.
          </div>
        </div>
        <div class="form-group1 required">
          <div class="col-sm-10">
            <label class="col-sm-2 control-label" for="input-email">Correo Electrónico:</label>
            <input type="text" class="form-control" [(ngModel)]="Data.email" name="email" formControlName="email" value="{{user.Correo}}"required ngModel email>
          </div>
          <div class="alert alert-danger alert-dismissible col-sm-10" *ngIf="this.profileForm.touched && this.profileForm.get('email').invalid && this.profileForm.get('email').touched  && this.hasenter ">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong>  Correo Invalido.
          </div>
        </div>
        <div class="form-group1 required">
          <div class="col-sm-10">
            <label class="col-sm-2 control-label" for="input-enquiry">Direccion</label>
            <textarea rows="10" id="input-enquiry" class="form-control" [(ngModel)]="Data.direction" name="direction" formControlName="direction" value="{{user.Direccion}}"
              min="10" max="3000" required></textarea>
          </div>
          <div class="alert alert-danger alert-dismissible col-sm-10" *ngIf="this.profileForm.touched && this.profileForm.get('direction').invalid && this.profileForm.get('direction').touched  && this.hasenter">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong>  Direccion Invalida.
          </div>
        </div>
        <div class="form-group1 required">
          <div class="col-sm-10">
            <label class="col-sm-2 control-label" for="input-telephone">Telefono 1:</label>
            <input type="tel" class="form-control" [(ngModel)]="Data.telephone" [brmasker]="{mask:'+(000)0000-0000', len:15}" name="telephone" value="{{user.Telefono1}}"
              formControlName="telephone" (keypress)="onKeyUpNum($event)" (keyup)="onKeyUpNum($event)"  min='15' max="15" placeholder="+(504)9999-9999" required>
          </div>
          <div class="alert alert-danger alert-dismissible col-sm-10" *ngIf="this.profileForm.touched && this.profileForm.get('telephone').invalid && this.profileForm.get('telephone').touched  && this.hasenter">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong>  Telefono Invalido.
          </div>
        </div>
        <div class="form-group1 required">
          <div class="col-sm-10">
            <label class="col-sm-2 control-label" for="input-telephone2">Telefono 2:</label>
            <input type="tel" class="form-control" [(ngModel)]="Data.telephone2" [brmasker]="{mask:'+(000)0000-0000', len:15}" name="telephone2" value="{{user.Telefono2}}"
              formControlName="telephone2" (keypress)="onKeyUpNum($event)" (keyup)="onKeyUpNum($event)"  min='15' max="15" placeholder="+(504)9999-9999" required>
          </div>
          <div class="alert alert-danger alert-dismissible col-sm-10" *ngIf="this.profileForm.touched && this.profileForm.get('telephone2').invalid && this.profileForm.get('telephone2').touched  && this.hasenter">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong>  Telefono2 Invalido.
          </div>
        </div>
        <div class="form-group1 required">
          <div class="col-sm-10">
            <label class="col-sm-2 control-label" for="input-id">RTN:</label>
            <input type="text" class="form-control" [(ngModel)]="Data.RTN" name="RTN" formControlName="RTN" [brmasker]="{mask:'0000-0000-000000', len:16}"  value="{{user.RTN}}"
              (keypress)="onKeyUpRTN($event)" placeholder="9999-9999-999999"  (keyup)="onKeyUpRTN($event)" min="16" max="16" required>
          </div>
          <div class="alert alert-danger alert-dismissible col-sm-10" *ngIf="this.profileForm.touched && this.profileForm.get('RTN').invalid && this.profileForm.get('RTN').touched  && this.hasenter">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong>  RTN Invalido.
          </div>
        </div>
      </fieldset>
      <div class="buttons1">
        <div>
          <!-- <input  type="delete" value="Eliminar Cuenta"> -->

          <input type="submit" class="btn btn-info" value="Modificar">
          <button type="button2" class="btn btn-danger" (click)='eliminarClientes()'>Borrar Cuenta</button>
        </div>
      </div>
    </form>
  </div>


</ion-content>

<!--  -->